<h1>New Post</h1>
<%=form_for @post do |f|%>
<%=f.label :title%>
<%=f.text_field :title%>
<%=f.label :content%>
<%=f.text_area :content%>


<%=f.collection_check_boxes :category_ids, Category.all, :id, :name%>
<%=f.fields_for :categories, @post.categories.build do |cat|%>
<%=cat.label :name, "Category"%>
<%=cat.text_field :name%>
<%end%>
<%=%>
<%=%>
<%=f.submit "Create Post"%>
<%end%>